<div class="p-16">
  <div class="card">
    <div class="card-header separator">
      <h4 class="card-title">{{ "Enter values for datapoints" | translate }}</h4>
    </div>

    <div class="card-block">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ "ID" | translate }}</th>
            <th>{{ "Name Device" | translate }}</th>
            <th>{{ "Datapoint" | translate }}</th>
            <th>{{ "Date" | translate }}</th>
            <th>{{ "Value" | translate }}</th>
            <th>{{ "Action" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of config.datapoints; let i = index">
            <!-- <form> -->
              <td class="p-t-18">{{d.__target.id}}</td>
              <td class="p-t-18">{{d.__target.name}}</td>
              <td class="p-t-18">{{d.label}}</td>
              <td>
                <input
                  class="form-control"
                  bsDatepicker [bsConfig]="{ customTodayClass: 'today' , withTimepicker: true, initCurrentTime: true, keepDatepickerOpened: true, dateInputFormat: 'DD:MM:YYYY, HH:mm:ss.SSS' }"
                  [name]="'dates_' + i"
                  placeholder="{{ 'Date' | translate }}"
                  [(ngModel)]="dates[i]"
                  style="width: 100%"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  placeholder="{{ 'measurement value, e.g.10.25' | translate }}"
                  type="number"
                  [name]="'values_' + i"
                  pattern="[0-9]*[.,]?[0-9]*"
                  [(ngModel)]="values[i]"
                  style="width: 100%; text-align: right"
                />
              </td>
              <td>
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="onSubmit(i)"
                >
                  {{ "Create Measurement" | translate }}
                </button>
              </td>
            <!-- </form> -->
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="card-block">
      <div *ngFor="let d of config.datapoints; let i = index">
        <div class="form-group">
          <label>{{d.__target.id}} - {{d.__target.name}} - {{d.label}}</label>
          <div class="row">
            <form>
              <div class="col-lg-4">
                <input
                  class="form-control"
                  type="datetime-local"
                  [name]="'dates_' + i"
                  [(ngModel)]="dates[i]"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control"
                  placeholder="measurement value, e.g.10.25"
                  type="text"
                  [name]="'values_' + i"
                  [(ngModel)]="values[i]"
                  style="width: 80%; text-align: right"
                />
              </div>
              <div class="col-lg-4">
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="onSubmit(i)"
                >
                  Create Measurement
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <div
      class="card-inner-scroll d-flex d-col bg-component"
      style="height: 350px"
    ></div>
  </div>
</div>
